@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
::after,
::before {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 100%;
    margin: 0 100px;
}

.container {
    margin: 0 auto;
    max-width: 1220px;
}

header .container {
    display: flex;
    background-size: cover;
    justify-content: space-between;
    .search {
        display: flex;
        height: 56px;
        // border: 2px solid #001aff;
        img {
            background-color: #001aff;
            width: 77px;
            height: 55px;
        }
    }
    .account {
        display: flex;
        align-items: baseline;
        #name {
            color: #121212;
            font-size: 20px;
        }
    }
}

header .search input[type="text"] {
    border: 2px #001aff solid;
    width: 408px;
    height: 53px;
    //border-radius: 10px;
    padding: 10px;
    color: #121212;
    font-size: 20px;
    font-weight: 400;
}

main .container {
    display: flex;
    justify-content: space-between;
    .navigation {
        // background-color: red;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 49px;
        width: 192px;
        margin-bottom: 38px;
        img {
            align-items: center;
            padding-left: 45px;
            scale: 1.0;
        }
        .icon-labels {
            color: #001aff;
            font-size: 24px;
            padding-left: 10px;
        }
    }
    .navigation:hover {
        background-color: #B0B5DF;
        cursor: pointer;
        border-radius: 10px;
        height: 49px;
        width: 192px;
        animation: ease-out 0.2s;
        img {
            scale: 1.0;
        }
        p {
            font-weight: bolder;
        }
    }
    .content-area {
        width: 1030px;
        border-left: 0.5px solid #001aff;
        max-height: 100vh;
        .contents {
            margin: 0 auto;
            padding: 10px;
            // background-color: #001aff;
            width: 900px;
            height: 100px;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            opacity: 80%;
        }
        p {
            font-size: 19px;
        }
    }
}


/************************* button style***
*************************************************/

main {
    input[type="submit"] {
        font-size: 20px;
        height: 49px;
        width: 192px;
        border-radius: 10px;
        border: none;
        background-color: #001aff;
        color: white;
        margin-top: 25px;
    }
    input[type="button"]:hover {
        font-weight: bolder;
        transition: ease-in-out .5s;
        background-color: #000a60;
        // transform: matrix3d(0.5, 0, -0.866025, 0, 0.595877, 1.2, -1.03209, 0, 0.866025, 0, 0.5, 0, 25.9808, 0, 15, 1);
        text-transform: capitalize;
    }
    .no-items {
        align-items: center;
        justify-content: center;
        img {
            margin-left: 100px;
        }
    }
}


/************************Item display******************************
****************************************************************
******************************************/

main .home-contents {
    .no-items {
        // img {
        //     background-color: red;
        // }
    }
    .land-items {
        background-color: red;
    }
}

main .log-out {
    justify-content: space-between;
    height: 100vh;
    display: none;
}

main .register-contents {
    // display: none;
}

main .transfer-contents {
    //  display: none;
}

main .profile-contents {
    // display: none;
}