@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
::after,
::before {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 100%;
  margin: 0 100px;
  font-family: poppins;
}

.container {
  max-height: 100vh;
  max-width: 1440px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  position: absolute;
  max-width: 100%;
  visibility: visible;
  background-size: cover;
  position: fixed;
  background-color: white;
}
.header span {
  margin-left: 1000px;
}

.navigation {
  flex-direction: column;
  display: flex;
  width: 200px;
  position: fixed;
  margin-top: 100px;
}

button {
  align-items: flex-start;
  border: none;
  margin: 25px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #001aff;
  font-weight: bold;
  font-size: 16px;
  gap: 10px;
  white-space: normal;
  width: 100%;
}

button:hover {
  background-color: #7c85d2;
  cursor: pointer;
}

.content {
  display: flex;
}

.register-land,
.transfer-land,
.profile,
.log-out {
  visibility: hidden;
}
.register-land form,
.transfer-land form,
.profile form,
.log-out form {
  gap: 10px;
}
.register-land input,
.transfer-land input,
.profile input,
.log-out input {
  width: 350px;
  height: 49px;
  padding: 10px;
  color: #001aff;
  font-size: 16px;
}
.register-land input[type=submit],
.register-land #logOut,
.transfer-land input[type=submit],
.transfer-land #logOut,
.profile input[type=submit],
.profile #logOut,
.log-out input[type=submit],
.log-out #logOut {
  width: 192px;
  height: 49px;
  color: white;
  background-color: #001aff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}
.register-land textarea,
.transfer-land textarea,
.profile textarea,
.log-out textarea {
  width: 350px;
  padding: 10px;
  color: #001aff;
  font-size: 16px;
}
.register-land input[type=button],
.transfer-land input[type=button],
.profile input[type=button],
.log-out input[type=button] {
  width: 192px;
  height: 49px;
}
.register-land #cancel,
.transfer-land #cancel,
.profile #cancel,
.log-out #cancel {
  border: solid 2px #001aff;
  border-radius: 10px;
  color: #001aff;
  background-color: transparent;
}

.log-out {
  visibility: hidden;
}

.log-out-btn {
  white-space: 50px;
}

.log-out-visible {
  visibility: visible;
  transform: translate(50%, 50%) scale(1);
  margin: 0 250px;
  border: #001aff solid 2px;
  padding: 50px;
  background-color: #7c85d2;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  margin-top: 0;
  top: 0;
  z-index: 999;
  position: absolute;
}

.home-visible {
  visibility: visible;
  top: 0;
  position: relative;
  background-size: cover;
  font-size: 20px;
  margin-top: 0;
  top: 0;
  z-index: 999;
  position: absolute;
  top: 12%;
  left: 28%;
}

.register-land-visible,
.transfer-land-visible,
.profile-visible {
  visibility: visible;
  margin-left: 250px;
  top: 10%;
  margin-top: 100px;
  position: fixed;
  position: absolute;
  max-height: 100vh;
}
.register-land-visible form,
.transfer-land-visible form,
.profile-visible form {
  gap: 10px;
}
.register-land-visible input,
.transfer-land-visible input,
.profile-visible input {
  width: 350px;
  height: 49px;
  padding: 10px;
  color: #001aff;
  font-size: 16px;
}
.register-land-visible input[type=submit],
.register-land-visible #logOut,
.transfer-land-visible input[type=submit],
.transfer-land-visible #logOut,
.profile-visible input[type=submit],
.profile-visible #logOut {
  width: 192px;
  height: 49px;
  color: white;
  background-color: #001aff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}
.register-land-visible textarea,
.transfer-land-visible textarea,
.profile-visible textarea {
  width: 350px;
  padding: 10px;
  color: #001aff;
  font-size: 16px;
}
.register-land-visible input[type=button],
.transfer-land-visible input[type=button],
.profile-visible input[type=button] {
  width: 192px;
  height: 49px;
}
.register-land-visible #cancel,
.transfer-land-visible #cancel,
.profile-visible #cancel {
  border: solid 2px #001aff;
  border-radius: 10px;
  color: #001aff;
  background-color: transparent;
}

.home {
  margin-left: 250px;
  margin: top 100px;
  font-size: 20px;
}

.hide-home {
  visibility: hidden;
}

.profile-visible {
  border: #001aff solid 2px;
}/*# sourceMappingURL=dashboard.css.map */