// *,
// ::after,
// ::before {
//     padding: 0;
//     box-sizing: border-box;
//     margin: 0;
// }
@import url(styles.css);
// .container {
//     max-width: 1240px;
//     margin: 0 auto;
// }
body {
    margin: 0 100px;
    font-family: 'Poppins', sans-serif;
}

main .container {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
}

main .welcome-msg {
    input[type="button"] {
        font-size: 20px;
        height: 49px;
        width: 192px;
        color: white;
        background-color: #001aff;
        border: none;
        border-radius: 10px;
        margin-top: 43px;
    }
}

main .container .login-signup {
    background-color: white;
    padding: 80px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    h3 {
        display: flex;
    }
    .commands {
        background-color: gray;
        padding: 20px;
        height: 50px;
        width: 250px;
    }
}

main .container .login .login-lables {
    margin-top: 20px;
    form input,
    label {
        justify-content: space-between;
        margin: 10px 0;
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
}

main .container .sign-up .signup-lables {
    display: none;
}

footer {
    .container .social-icons {
        img {
            padding: 15px;
        }
    }
}